<%
=begin%>
 <% provide(:title, "Home") %> 
<%
=end%>
<h1>Sample App <%= yield(:title) %></h1>
<p>
    This is the home page for the 
    <a href="ttps://www.railstutorial.org/">Ruby on rails Tutorials</a>
    sample application.
</p>