<% provide(:title, "Home") %> 
<div class="center jumbotron">
    <h1>Sample App <%= yield(:title) %></h1>
    <p>
        This is the home page for the 
        <a href="ttps://www.railstutorial.org/">Ruby on rails Tutorials</a>
        sample application.
    </p>
     <h1>Welcome to the Sample App</h1>

    <h2>
        This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
           'http://rubyonrails.org/' %>
<%= link_to image_tag("kitten.jpg"), alt: "cat", id:"cat"  %> 

